bokeh==2.2.3
freegames==2.3.2
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.19.4
packaging==20.8
Pillow==8.0.1
pygame==2.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
scapy==2.4.5
scapy-python3==0.26
scipy==1.7.3
six==1.15.0
tornado==6.1
typing-extensions==3.7.4.3
